
/* main link */
body .mainlink:hover {
    color: rgb(28, 111, 236);
}
/* 1. Flex-Center */
.containerfc {
    background-color: rgb(28, 111, 236);
    border: 5px solid darkblue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontfamily {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reddiv {
    display: flex;
    border: 5px solid brown;
    background-color: darksalmon;
    flex-basis: 250px;
    height: 250px;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    text-align: center;
}
.exheader {
    font-size: 30px;
}
.mainheading {
    font-size: 40px;
    text-align: center;
}
/* 2. Flex-Header */
.containerfh {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 226, 190);
    height: 90px;
}
.linksfh {
    display: flex;
    list-style: none;
    margin: auto;
    margin-left: 0px;
    padding-left: 5px;
    margin-right: 10px;
}
.linksfh li {
    margin: 10px;
    background-color: #fff;
    padding: 5px;
    color: blue;
}
.logofh {
    margin: auto;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Monoton', cursive;
    background-color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}
.logofh a:hover {
    color: red;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: #FFF;
}
.linksfh li:hover {
    background-color: rgb(28, 111, 236);
}
/* 3. Flex-Header-2 */
.belowheader {
    background-color: rgb(227, 223, 223);
    height: 50px;
}
.containerfh2 {
    display: flex;
    justify-content: space-around;
    height: 60px;
}
.linksfh2,
.notifications {
    display: flex;
    list-style: none;
}
.linksfh2 {
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding-left: 5px;
    margin-bottom: 8px;
    margin-right: 16px;
}
.linksfh2 li {
    margin-left: 10px;
    background-color: #fff;
    padding: 5px;
    color: purple;
}
.linksfh2 :hover {
    color: rgb(28, 111, 236);
    text-decoration: underline;
}
.notifications {
    margin: auto;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 8pxpx;
    color: #FFF;
}
.notification {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    background-color: purple;
    border-radius: 10px;
}
.circle {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: purple;
    border-radius: 100%;
}
.notification,
.circle {
    flex-shrink: 0;
}
.logofh2 {
    font-size: 40px;
    color: purple;
    font-weight: 900;
    font-family: 'Monoton', cursive;
    padding-left: 8px;
    padding-bottom: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
}
.logofh2 :hover {
    color: purple;
}
/* 4. Flex-Information */
.containerimg {
    display: flex;
    justify-content: center;
    justify-items: center;
}
img {
    display: flex;
    height: 200px;
    flex-basis: 200px;
}
figcaption {
    display: flex;
    margin-top: 32px;
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
img {
    margin-right: 21px;
    margin-left: 21px;
}
/* 5. Flex-Modal */
.containermodal {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #aaa;
    color: #333;
    /* I'll give you this one for free lol */
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.modal {
    background: white;
    width: 670px;
    font-size: 23.4px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.fmicon {
    color: royalblue;
    font-size: 26px;
    font-weight: 900;
    background: lavender;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    display: flex;
}
.close-button {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.continue,
.cancel {
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: 600;     
    font-size: 15px;
    cursor: pointer;
}
.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin-left: 60px;
}
.cancel {
    background: white;
    border: 1px solid #ddd;
    color: royalblue;
    display: flex;
}
.continue:hover {
    background-color: lavender;
    color: royalblue;
}
.cancel:hover {
    background-color: lavender;
}
.fmtext {
    display: flex;
    padding-left: 60px;
}
.fmheader {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 26px;
    color: black;
}
/* 6. Flex-Layout */
.flheader {
    display: flex;
    justify-content: space-around;
}
.flllinks,
.flrlinks {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: auto;
}
.flllinks {
    margin-right: auto;
}
.flrlinks {
    margin-right: 40px;
}
a .flanchor {
    text-decoration: none;
}
.flllinks .flanchor:hover,
.flrlinks .flanchor:hover {
    color: blue;
}
.flbody {
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flinputbox {
    display: flex;
    width: 410px;
    height: 30px;
    border: 1px solid rgb(215, 208, 208);
    border-radius: 20px;
}
.flbuttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}
.flbuttons button {
    display: flex;
    background-color: #eeeeee;
    height: 30px;
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 7px;
    padding-bottom: 18px;
    font-size: 13px;
    font-weight: 500;
    border: 0px;
}
.flbuttons button:hover {
    background-color: rgb(240, 193, 62);
}
.odinlogo {
    display: flex;
    flex-basis: 100px;
}
.flfooter {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
/* 7. Flex-Layout-2 */
.fl2body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.fl2header {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    background-color: purple;
    border: 5px solid purple;
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 12px;
    padding-left: 16px;
}
.fl2container {
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
    flex-basis: 700px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fl2sidebar {
    display: flex;
    background-color: rgb(28, 111, 236);
    flex-basis: 300px;
    flex-shrink: 0;
    height: auto;
    padding: 16px;
}
.fl2content {
    display: flex;
    background-color: #FFF;
    flex-basis: 1441px;
    flex-wrap: wrap;
    gap: 40px;
    padding: 32px;
    height: auto;
}
.card {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    flex-basis: 335px;
    height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: 5px 5px 5px 5px rgb(248, 247, 247);
    border: 2px solid rgb(248, 247, 247);
    border-radius: 5px;
}
.fl2footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #d5d3d3;
    color: purple;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fl2footer img,
.fl2links li img {
    display: flex;
    max-width: 20px;
    height: 18px;
    margin-left: 6px;
    padding-top: 6px;
}
.fl2footer div,
.fl2footer img {
    padding-top: 8px;
}
.fl2links {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
}
.fl2links li {
    display: flex;
    font-size: 24px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.fl2links li a {
    color: #FFF;
}
.fl2links li a:hover {
    color: yellow;
}
.fl2links li img {
    margin-right: 5px;
}
