
/* 1. Flex-Center */
.containerfc {
    background-color: rgb(28, 111, 236);
    border: 5px solid darkblue;
    height: 400px;
    display: flex;
    justify-content: center;
}
.fontfamily {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reddiv {
    display: flex;
    border: 5px solid brown;
    background-color: darksalmon;
    flex-basis: 250px;
    height: 250px;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    text-align: center;
}
.exheader {
    font-size: 30px;
}
.mainheading {
    font-size: 40px;
    text-align: center;
}
/* 2. Flex-Header */
.containerfh {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 226, 190);
    height: 90px;
}
.linksfh {
    display: flex;
    list-style: none;
    margin: auto;
    margin-left: 0px;
    padding-left: 5px;
    margin-right: 10px;
}
.linksfh li {
    margin: 10px;
    background-color: #fff;
    padding: 5px;
    color: blue;
}
.logofh {
    margin: auto;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Monoton', cursive;
    background-color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}
.logofh a:hover {
    color: red;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: #FFF;
}
.linksfh li:hover {
    background-color: rgb(28, 111, 236);
}
/* 3. Flex-Header-2 */
.belowheader {
    background-color: rgb(227, 223, 223);
    height: 50px;
}
.containerfh2 {
    display: flex;
    justify-content: space-around;
    height: 60px;
}
.linksfh2,
.notifications {
    display: flex;
    list-style: none;
}
.linksfh2 {
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding-left: 5px;
    margin-bottom: 8px;
    margin-right: 16px;
}
.linksfh2 li {
    margin-left: 10px;
    background-color: #fff;
    padding: 5px;
    color: purple;
}
.linksfh2 :hover {
    color: rgb(28, 111, 236);
    text-decoration: underline;
}
.notifications {
    margin: auto;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 8pxpx;
    color: #FFF;
}
.notification {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    background-color: purple;
    border-radius: 10px;
}
.circle {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: purple;
    border-radius: 100%;
}
.notification,
.circle {
    flex-shrink: 0;
}
.logofh2 {
    font-size: 40px;
    color: purple;
    font-weight: 900;
    font-family: 'Monoton', cursive;
    padding-left: 8px;
    padding-bottom: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
}
.logofh2 :hover {
    color: purple;
}
/* 4. Flex-Information */
.containerimg {
    display: flex;
    justify-content: center;
}
img {
    display: flex;
    height: 200px;
    flex-basis: 200px;
}
figcaption {
    display: flex;
    margin-top: 32px;
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
img {
    margin-right: 21px;
    margin-left: 21px;
}
